#page-success {
    height: 100vh;
    background-color: black;
}

.main {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main h3 {
    color: #fff;
}

.main svg {
    margin: 0.5rem;
    color: var(--primary-color);
}
